@font-face {
	font-family: 'Seal Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/Ghimist/seal-sans/SealSans-Regular_v0.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/Ghimist/seal-sans/SealSans-Regular_v0.woff') format('woff'),
		url('https://cdn.jsdelivr.net/gh/Ghimist/seal-sans/SealSans-Regular_v0.otf') format('opentype');
	unicode-range:
		U+3D000-3FC3F;/*Seal Block*/
}